<div class="content about-me">
  <h2>About Me</h2>
  <p>
  I'm currently working as a full stack developer at Xorro Solutions Ltd.
  I'm interested in learning old and new technologies and sharing with others.
  Here is a list of things I want to share with you.
  </p>
</div>


<div class="content project-list">
  <h2>Project List</h2>
  <ul>
    <li class="project" *ngFor="#project of projects">
      <h3><a [routerLink]="['ProjectDetail', {id: project.ID}]">{{project.Name}}</a></h3>
      {{project.Details}}
    </li>
  </ul>
</div>
