.project-list {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
.project-list h2 {
  padding: .5em;
  margin: 0 0 1em 0;
  background-color: #ea6;
  border-radius: 5px;
  color: #fff;
  float: left;
}
.project-list ul {
  clear: both;
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.project-list li {
  padding: 1em;
  border-top: 1px solid #ddd;
}
.project-list li:first-child {
  border-top: none;
}
